* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.options {
  display: flex;
}

.option {
  cursor: pointer;
  padding: 5px 10px;
  background: #fff;
  border-radius: 3px;
  margin-left: 10px;
  border: 1px solid #ccc;
}

.current {
  color: #fff;
  background: green;
  border-color: transparent;
}

.container {
  width: 500px;
  margin: 0 auto;
  padding: 0 20px 0 20px;
}

.btn {
  cursor: pointer;
  padding: 10px 20px;
  width: 100%;
}

.countDownValue {
  font-size: 40px;
  text-align: center;
}

.congratulation {
  text-align: center;
  margin-bottom: 20px;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.title {
  font-size: 20px;
  font-weight: bold;
}

.right {
  display: flex;
}

.cell {
  padding: 10px;
}

.btn {
  cursor: pointer;

}