@font-face {
  font-family: customFont;
  src: url('./assets/customFont.ttf');
}

body {
  margin: 0;
  font-family: customFont !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
